<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Confirmation</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<h3 th:text="'Hej ' + ${userDetails.username} + '!'"></h3>
<h3 th:text="'Datum: ' + ${order.orderDate}"></h3>

<div th:each="item : ${order.orderItems}">
    <h3 th:text="'Produkter: ' + ${item.productName} + ' ' + 'x' + ${item.quantity} + ' ' + ${item.price} + 'kr'"></h3>
</div>

<h3 th:text="'Total belopp: ' + ${order.price} + 'kr'"></h3>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>