<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
<head>
    <title>Integritetspolicy</title>
</head>
<body>

<div sec:authorize="isAuthenticated()"
     th:insert="~{fragments/header :: header}"></div>

<h1>Integritetspolicy</h1>

<p>Vi samlar in personuppgifter som e-post och orderinformation.</p>

<p>Uppgifterna används för att hantera konto och beställningar.</p>

<p>Du har rätt att få information om dina uppgifter och begära att de tas bort.</p>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>