<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <style>
        label {
            display: block;
            margin: 5px;
        }
    </style>
</head>
<body>

<h3>Register new user</h3>

<form th:action="@{/register}" method="post">

    <label for="username"></label>
    <input type="text" id="username" name="username" placeholder="Username" required>

    <label for="password"></label>
    <input type="password" id="password" name="password" placeholder="Password" required>

    <!-- TODO: Länk till länk för integritets-sida. -->
    <label for="consent"></label>
    <a>Terms and conditions</a>
    <input type="checkbox" id="consent" name="consent">

    <br/>

    <button type="submit">REGISTER</button>

</form>
</body>
</html>